body.slug-press {
    .inline-archive.cards {
        flex-direction: row;

        article {
            background-color: var(--#{$PARENT_PREFIX}-color-content-background);
            width: 100%;
            margin: 0 0 .5em;

            & > a {
                background-color: var(--#{$PARENT_PREFIX}-color-content-background);
                display: block;
            }
            header {
                text-align: left;
            }
            .meta {
                time, .source {
                    display: inline-block;
                }
                time ~ .source::before {
                    content: ' • ';
                }
            }
        }

        .featured-image {
            float: left;
            width: 25%;
            margin: 0 .5em .25em 0;
        }
    }
    .wp-block-rss.cards {
        li {
            background-color: var(--#{$PARENT_PREFIX}-color-content-background);
            border-radius: .25em;
            box-shadow: 0 0 .75em rgba(0, 0, 0, 0.2);
            padding: 1em;
        }
        .wp-block-rss__item-title {
            font-weight: bold;
        }
        .wp-block-rss__item-excerpt {
            font-size: .9em;
            margin-top: .5em;
        }
    }
}