.masthead .logo {
	position: relative;
	overflow: hidden;
	padding: 0;

	a {
		position: relative;
		z-index: 1;
		padding: calc(var(--#{$PARENT_PREFIX}-masthead-height) * 0.2) 3.5em;

		img {
			transition: all 0.1s;
		}
		@include hover {
			img {
				transform: scale(1.04);
				filter: drop-shadow(0 0 .5em rgba(0,0,0,0.6));
			}
		}

		@include phone() {
			padding-left: 1.5em;
		}
	}
	// Trapezoid background for logo
	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
	
		border-top: calc( var(--#{$PARENT_PREFIX}-masthead-height) + 2px ) solid var(--#{$PARENT_PREFIX}-color-brand);
		border-left: calc( var(--#{$PARENT_PREFIX}-masthead-height) / 2 ) solid transparent;
		border-right: calc( var(--#{$PARENT_PREFIX}-masthead-height) / 2 ) solid transparent;
		height: 0;

		@include phone() {
			border-left: 0;
		}
	}
}

.hamburger::after,
.masthead .menu {
	box-shadow: .5rem .5rem var(--#{$PARENT_PREFIX}-color-brand);

	@include tablet {
		box-shadow: 0 .5rem var(--#{$PARENT_PREFIX}-color-brand);
	}
}

.masthead .menu-container .menu {
	font-size: 1.25rem;
}

.masthead .menu-beforetext a {
	border-radius: .25em;
	padding: .2em .4em;
	transition: all .15s;

	@include hover {
		background-color: var(--#{$PARENT_PREFIX}-color-brand);
		color: #fff;
	}
}