main.podcast,
main.podcasts {
	.tags {
		display: inline-block;
		vertical-align: middle;

		a {
			display: inline-block;
			background-color: var(--#{$PARENT_PREFIX}-color-brand);
			color: #fff;
			border-radius: .25em;
			padding: .25em .45em;
			margin: 0 .15em .15em;
			text-decoration: none;
			transition: all 0.15s;

			@include hover {
				background-color: var(--#{$PARENT_PREFIX}-color-highlight);
				color: #fff;
				opacity: 1;
			}
		}

		@include phone {
			display: block;
			font-size: 0.5em;

			a { opacity: 0.5 }
		}
	}
}

@import '_single';
@import '_archives';