main.podcast,
main.podcasts {
	.tags {
		display: inline-block;
		vertical-align: middle;

		a {
			display: inline-block;
			background-color: var(--#{$PARENT_PREFIX}-color-brand);
			color: #fff;
			border-radius: .25em;
			padding: .25em .45em;
			margin: 0 .15em .15em;
			text-decoration: none;
			transition: all 0.15s;

			@include hover {
				background-color: var(--#{$PARENT_PREFIX}-color-highlight);
				color: #fff;
				opacity: 1;
			}
		}

		@include phone {
			display: block;
			font-size: 0.5em;

			a { opacity: 0.5 }
		}
	}

}

// Genre features on podcasts landing page
.genre-links {
	padding: 1em 1em .6em;

	.row-container {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		flex-wrap: wrap;
	}
	a {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;

		background-color: var(--#{$PARENT_PREFIX}-color-brand);
		color: #fff;
		border-radius: .2em;
		padding: .75em 1.25em;
		margin: 0 .25em .5em;
		text-align: center;
		text-decoration: none;
		transition: all .15s;

		@include hover {
			background-color: var(--#{$PARENT_PREFIX}-color-highlight);
			box-shadow: 0 .25em 0.4em rgba(0,0,0,0.3);
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			transform: scale(1.03);
		}

	}
}
.genre-features {
	.row {
		padding: 1em;

		&:nth-child(odd) {
			background-color: #eee;
		}

		article > header {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			align-items: last baseline;
			justify-content: space-between;

			text-align: left;

			a {
				color: #fff;
				text-decoration: none;

				&.more {
					display: inline-block;
					background-color: var(--#{$PARENT_PREFIX}-color-highlight);
					border-radius: .25em;
					padding: .25em .4em;
					font-size: 0.8em;

					white-space: nowrap;

					@include phone {
						font-size: 0.75em;
					}

					&::before {
						content: '❯ ';
					}

					@include hover {
						background-color: var(--#{$PARENT_PREFIX}-color-brand);
					}
				}
			}

			h2 {
				font-size: 1.75em;
				line-height: 1.1;
				margin-right: .5em;

				a {
					color: var(--#{$PARENT_PREFIX}-color-highlight);
				}
			}
		}
	}
}

// in podcast genre features, hide the 5th item on mobile
@include phone {
    .wpn-f-genre li:nth-child(5) {
        display: none;
    }
}

@import '_single';
@import '_archives';