@import '../_global';
@import 'masthead/_';
@import 'podcasts/_';
@import 'press/_';
@import 'footer/_';
@import '_extras';

.wp-block-image img {
    height: auto;
}

.background-size-auto-100,
.background-size-auto-100 .kt-row-layout-inner {
    background-size: auto 100%;
}
.background-size-100-auto,
.background-size-100-auto .kt-row-layout-inner  {
    background-size: auto 100%;
}