.t3d-color-brand {
	--t3d-color: var(--#{$PARENT_PREFIX}-color-brand);
}
.t3d-color-highlight {
	--t3d-color: var(--#{$PARENT_PREFIX}-color-highlight);
}
.t3d-color-accent {
	--t3d-color: var(--#{$PARENT_PREFIX}-color-accent);
}
.t3d-color-black {
	--t3d-color: #000;
}
.t3d-color-darkgray {
	--t3d-color: darkgray;
}
.t3d-color-lightgray {
	--t3d-color: lightgray;
}
.t3d-color-gray {
	--t3d-color: gray;
}

.t3d-direction-left {
	--t3d-direction: -1;
}
.t3d-direction-right {
	--t3d-direction: 1
}

.t3d-length-short {
	&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
		@include t3d(1, 10, false, false);
	}
}
.t3d-length-medium {
	&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
		@include t3d(1, 16, false, false);
	}
}
.t3d-length-long {
	&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
		@include t3d(1, 28, false, false);
	}
}

	.t3d-length-short.t3d-stroke {
		&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
			@include t3d(1, 10, false, true);
		}
	}
	.t3d-length-medium.t3d-stroke {
		&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
			@include t3d(1, 16, false, true);
		}
	}
	.t3d-length-long.t3d-stroke {
		&, & p, & h1, & h2, & h3, & h4, & h5 & h6 {
			@include t3d(1, 28, false, true);
		}
	}
